* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: #f4f4f9;
   overflow: hidden;
   /* Запобігає появі прокрутки */
}

.container {
   text-align: center;
   background-color: #ccc;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   position: relative;
   /* Робимо контейнер відносно позиціонованим */
   z-index: 1;
   /* Підвищуємо пріоритет для контейнера */
}

.character {
   position: relative;
   text-align: center;
}

#knight-image {
   width: 150px;
   margin-bottom: 15px;
}

.character p {
   font-size: 18px;
   margin-bottom: 10px;
}

.controls button {
   margin: 10px;
   padding: 10px;
   font-size: 16px;
   cursor: pointer;
}

@keyframes shake {
   0% {
      transform: translateX(0);
   }

   25% {
      transform: translateX(-10px);
   }

   50% {
      transform: translateX(10px);
   }

   75% {
      transform: translateX(-10px);
   }

   100% {
      transform: translateX(0);
   }
}

.shake {
   animation: shake 0.5s ease-in-out;
}



/* Стиль для контейнера феєрверків */
.fireworks-container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   pointer-events: none;
   /* Феєрверк не повинен впливати на взаємодію з іншими елементами */
   z-index: 9999;
   /* Вищий пріоритет, щоб феєрверки були поверх всього */
}

/* Стилі для частинок феєрверку */
.firework {
   position: absolute;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: rgba(255, 0, 0, 1);
   opacity: 0;
   animation: explode 1.5s forwards;
}

/* Анімація для вибуху феєрверку */
@keyframes explode {
   0% {
      transform: scale(1) translate(0, 0);
      opacity: 1;
   }

   50% {
      transform: scale(1.5) translate(var(--x), var(--y));
      opacity: 0.8;
   }

   100% {
      transform: scale(2) translate(var(--x), var(--y));
      opacity: 0;
   }
}





/* Анімація для плавної зміни прозорості */
@keyframes fadeInOut {
   0% {
      opacity: 0;
   }

   50% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}

.fade-in-out {
   animation: fadeInOut 1s ease-in-out forwards;
   /* Анімація триватиме 1 секунду */
}

.music {
   display: flex;
   justify-content: end;
}

#toggle-music {
   border: none;
   background-color: transparent;
   cursor: pointer;
}