* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: #f4f4f9;
   overflow: hidden;
   /* Запобігає появі прокрутки */
}

.container {
   text-align: center;
   background-color: #ccc;
   padding: 20px;
   width: 550px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   position: relative;
   /* Робимо контейнер відносно позиціонованим */
   z-index: 1;
   /* Підвищуємо пріоритет для контейнера */
   overflow: hidden;
}

.header {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   justify-content: end;
}

.settings_btn {
   display: flex;
   margin-left: 15px;
   background-color: transparent;
   border: 0;
   cursor: pointer;


}

.settings_btn.active {}



#toggle-music {
   height: 20px;
}

#toggle-lang {
   padding: 2px;
}

.settings_btn img {
   transition: .5s ease;
   width: 25px;
}

.settings_btn.active img {
   transform: rotate(360deg);
}

.settings {
   display: flex;
   align-items: center;
   padding: 5px;
   gap: 10px;
   transform: translateX(-600px);
   transition: all .5s ease;
}

.settings.active {
   background: rgba(0, 0, 0, 0.1);
}

#change-name-btn {
   padding: 2px;
}

/* Оверлей - затемнює фон */
#overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   /* чорний фон з прозорістю */
   display: none;
   /* Сховано за замовчуванням */
   z-index: 1;

   /* Показується поверх інших елементів */
}

/* Стилі для модального вікна */
#name-change-modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #fff;
   padding: 20px;
   border: 2px solid #333;
   border-radius: 8px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   z-index: 102;
   transition: all .5s ease;
   opacity: 1;
}

#name-change-modal input {
   padding: 10px;
   margin: 10px 0;
   border: 1px solid black;
   width: 100%;
}

#name-change-modal button {
   padding: 8px 15px;
   margin-top: 5px;
   cursor: pointer;
   width: 100%;
}

.settings.active {
   transform: translateX(0);
}

.power {

   font-size: 18px;
}

.character {
   position: relative;
   text-align: center;
   z-index: -1;
}

.stats {
   display: flex;
   align-items: center;
   justify-content: space-between;

}

#knight-image {
   width: 150px;
   margin-bottom: 15px;
}

.character p {
   font-size: 18px;
   margin-bottom: 10px;
}

.characteristic {
   background-color: #ccc;
   transform: translateX(450px);
   transition: all .5s ease;
   opacity: 0;
}

.characteristic.active {
   transform: translateX(0px);
   opacity: 1;
}

.controls {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   margin-top: 5px;
}

.controls button {
   padding: 10px;
   font-size: 16px;
   cursor: pointer;
}

.menu {
   margin-top: 5px;
   display: flex;
   justify-content: end;
}

.menu button {
   padding: 10px;
   font-size: 16px;
   cursor: pointer;
}



@keyframes shake {
   0% {
      transform: translateX(0);
   }

   25% {
      transform: translateX(-10px);
   }

   50% {
      transform: translateX(10px);
   }

   75% {
      transform: translateX(-10px);
   }

   100% {
      transform: translateX(0);
   }
}

.shake {
   animation: shake 0.5s ease-in-out;
}



/* Стиль для контейнера феєрверків */
.fireworks-container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   pointer-events: none;
   /* Феєрверк не повинен впливати на взаємодію з іншими елементами */
   z-index: 9999;
   /* Вищий пріоритет, щоб феєрверки були поверх всього */
}

/* Стилі для частинок феєрверку */
.firework {
   position: absolute;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: rgba(255, 0, 0, 1);
   opacity: 0;
   animation: explode 1.5s forwards;
}

/* Анімація для вибуху феєрверку */
@keyframes explode {
   0% {
      transform: scale(1) translate(0, 0);
      opacity: 1;
   }

   50% {
      transform: scale(1.5) translate(var(--x), var(--y));
      opacity: 0.8;
   }

   100% {
      transform: scale(2) translate(var(--x), var(--y));
      opacity: 0;
   }
}





/* Анімація для плавної зміни прозорості */
@keyframes fadeInOut {
   0% {
      opacity: 0;
   }

   50% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}

.fade-in-out {
   animation: fadeInOut 1s ease-in-out forwards;
   /* Анімація триватиме 1 секунду */
}

.music {
   display: flex;
   justify-content: end;
}

#toggle-music {
   border: none;
   background-color: transparent;
   cursor: pointer;
}